<div id="search-rig-line-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="search-rig-line-modal"
aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Select Rig Line</h4>
      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="display" id="tbl-search-rig-line">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Line No.</th>
                  <th>Machine ID</th>
                  <th>Maintenance Date</th>
                  <th>Maintenace Due Date</th>
                  <th>Last Assignment Date</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
            <tbody>
            </tbody>
            </table>
          </div>
    </div>
    {% comment %} <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="button">Select</button>
    </div> {% endcomment %}
  </div>
</div>
</div>