{% load static %}
{% load sass_tags %}
<div class="container-fluid">
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success inverse alert-dismissible fade show" role="alert"><i
        class="icon-thumb-up alert-center"></i>
      <p>{{message}}</p>
      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% else %}
    <div class="alert alert-danger outline alert-dismissible fade show" role="alert"><i
        data-feather="thumbs-down"></i>
        <p>{{message}}</p>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
  {% endfor %}
  <div class="row">
    <div class="col-md-12 project-list">
      <div class="card">
        <div class="row">
          <div class="col-md-6 p-0">
            <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
              <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-bs-toggle="tab" href="#top-home"
                  role="tab" aria-controls="top-home" aria-selected="true"><i data-feather="target"></i>All</a></li>
              {% comment %} <li class="nav-item"><a class="nav-link" id="contact-top-tab" data-bs-toggle="tab" href="#top-contact"
                  role="tab" aria-controls="top-contact" aria-selected="false"><i
                    data-feather="check-circle"></i>Completed</a></li> {% endcomment %}
            </ul>
          </div>
          <div class="col-md-6 p-0">
            <div class="form-group mb-0 me-0"></div><a class="btn btn-primary" href="{% url 'equipment_create' %}"> <i
                data-feather="plus-square"> </i>Create new employee</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="display" id="tbl-equipments">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Employee No.</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
            <tbody>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Individual column searching (text inputs) Ends-->
  </div>
</div>
