<li class="dropdown"><a class="nav-link menu-title link-nav" href="{% url 'dashboard' %}"><i
  data-feather="trending-up"></i><span>Monitoring</span></a></li>
<li class="dropdown"><a class="nav-link menu-title link-nav" href="{% url 'employees' %}"><i
  data-feather="list"></i><span>Employees</span></a></li>
{% comment %} <li class="dropdown"><a class="nav-link menu-title active" href="javascript:void(0)">
  <i data-feather="list"></i>
  <span>Equipments</span><div class="according-menu"><i class="fa fa-caret-down"></i></div></a>
  <ul class="nav-submenu menu-content" style="display: block;">
    <li><a href="projects.html" class="active">Project List</a></li>
    <li><a href="projectcreate.html">Create new</a></li>
  </ul>
</li> {% endcomment %}
<li class="dropdown"><a class="nav-link menu-title link-nav" href="{% url 'sites' %}"><i
  data-feather="list"></i><span>Sites</span></a></li>
<li class="dropdown"><a class="nav-link menu-title link-nav" href="{% url 'schedules' %}"><i
data-feather="list"></i><span>Schedules</span></a></li>
<li class="dropdown"><a class="nav-link menu-title link-nav" href="{% url 'logs' %}"><i
  data-feather="list"></i><span>Logs</span></a></li>
