{% load static %}
{% load sass_tags %}
<footer class="footer {{footer}}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 footer-copyright">
        <p class="mb-0">Developed by: </p>
        <div class="logo-wrapper"><img class="img-fluid" width="150" height="40" src="/static/assets/images/logo/logo.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <p class="pull-right mb-0">Hand crafted & made with <i class="fa fa-heart font-secondary"></i></p>
      </div>
    </div>
  </div>
</footer>
